<h1> Blogger info</h1>
<p1>Name: <%= @blogger.name%> </p1><br><br>
<p1>Age: <%= @blogger.age%> </p1><br><br>
<p1>Total Likes: <%= @blogger.sum_of_likes%> </p1><br><br>
<p1>Featured Post: <%= @blogger.featured_post.title%> </p1><br><br>
